h1 {
    color: brown;
}

#Home-title {
    text-align: center;
    border: 3px solid black;
}
#p2{
    color: blue;
}
#Home-title:hover{
    background-color: bisque;
}
#nav{
    text-align:center;
    background-color: blueviolet;
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}
#nav a{

    margin: 0px 2px;
    text-decoration: none;
    color: azure;

}